<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - SBSC</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script type="text/javascript">
    Globalize.culture("pt-BR");
    </script>
    <style>
        .jumbotron {
            background-image: url("@Url.Content("~/Content/jumbotrongb.jpg")");
            background-position: 0% 55%;
            background-size: cover;
            background-repeat: no-repeat;
            color: white;
            text-shadow: black 0.1em 0.1em 0.1em;
        }
    </style>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("SBSC", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @Html.Action("Menu", "Base")
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    @Html.Action("UserData", "Base")
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @Html.Partial("_Notifications")

        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year – SBSC – Sistema Bibliotecário Santa Cândida</p>
        </footer>
    </div>
</body>
</html>
