@model SBSC.ViewModel.Reservas.ReservaSearchViewModel
@using SBSC.Model
@{
    Layout = "~/Views/Shared/_LayoutReport.cshtml";
}

<div class="page-header">
    <h3>@ViewBag.Title <small>@ViewBag.Subtitle</small></h3>
</div>

@if (!Model.Objetos.Any())
{
    <div class="alert alert-warning" role="alert">
        Nenhuma reserva encontrada, talvez a reserva que você está procurando não exista.
    </div>
}
else
{
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Objetos.First().Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Objetos.First().StatusText)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Objetos.First().DtPrevisaoEmprestimoText)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Objetos.First().LivroText)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Objetos.First().PessoaText)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Objetos.First().DtCadastroText)
                </th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model.Objetos)
            {
                var statusLabel = item.StatusId == (int)Enumerations.Reserva.StatusReserva.Pendente ? "label-danger" : "label-success";

                <tr>
                    <td>
                        <strong>@Html.DisplayFor(modelItem => item.Id)</strong>
                    </td>
                    <td>
                        <span class="label @statusLabel">@Html.DisplayFor(modelItem => item.StatusText)</span>
                    </td>
                    <td>
                        <small>@Html.DisplayFor(modelItem => item.DtPrevisaoEmprestimoText)</small>
                    </td>
                    <td>
                        <i>@Html.DisplayFor(modelItem => item.LivroText)</i>
                    </td>
                    <td>
                        <i>@Html.DisplayFor(modelItem => item.PessoaText)</i>
                    </td>
                    <td>
                        <small>@Html.DisplayFor(modelItem => item.DtCadastroText)</small>
                    </td>
                </tr>
            }

        <tbody>
</table>
}
