@model SBSC.ViewModel.Reservas.ReservaSearchViewModel

@{
    var podeCadastrar = (bool)ViewBag.PodeCadastrar;
}

<div class="page-header">
    <h2>@ViewBag.Title <small>@ViewBag.Subtitle</small></h2>
</div>

<div class="btn-group" role="group" aria-label="...">
    @if (podeCadastrar)
    {
        <button type="button" class="btn btn-primary" onclick="window.location = '@Url.Action("Create")';">Incluir reserva</button>
    }
    <button type="button" class="btn btn-default" onclick="window.location = '@Url.Action("Search")';">Atualizar</button>
</div>

<hr />

@Html.Partial("SearchResultList", Model)